@font-face {
  font-family: "atomic";
  src: url(/assets/css/atomic.ttf);
}

body {
  background: lightblue url(../images/atomic.png) repeat;
  font-family: "atomic", monospace;
}

.blue-background {
  background-color: #9de3ff;
  border-radius: 2em;
}

.lead {
  margin-top: 1em;
}

ul,
.lead,
.card {
  font-family: "PT Sans", sans-serif;
}

.goal {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.card {
  margin-top: 2em;
  font-weight: bold;
}

.gems {
  margin: 3em 1.5em 2em 1.5em;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
a:active {
  color: red;
}
